.header-area {
    /*    // position: absolute;*/
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 0 100px 50px 100px;

    /*
    @media #{$mobile_device} {
        padding: 0 10px 10px 10px;
    }
    @media #{$tablet_device} {
        padding: 0 10px 10px 10px;
    }
    
*/
    .main-header-area {
        background: #3CC78F;
        @include border-radius(10px);
        padding: 25px 35px;
        position: absolute;
        bottom: -50px;
        z-index: 999;
        left: 100px;
        top: 70px;
        bottom: auto;
        right: 100px;

        @mixin smallScreen {
            right: 15px;
            left: 15px;
            padding: 12px 0;
        }

        @mixin mediumScreen {
            right: 15px;
            left: 15px;
            padding: 12px 0;
        }

        @mixin largeScreen {
            right: 60px;
            left: 60px;
        }

        .socail_links {
            ul {
                li {
                    display: inline-block;

                    a {
                        color: #A8A7A0;
                        margin: 0 10px;
                        font-size: 15px;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .main-menu {
            padding: 12px 0;
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-end);

            @mixin mediumScreen {
                display: none;
            }

            @mixin largeScreen {
                display: none;
            }

            ul {
                li {
                    display: inline-block;
                    position: relative;
                    margin: 0 10px;

                    a {
                        color: #fff;
                        font-size: 16px;
                        text-transform: capitalize;
                        font-weight: 600;
                        display: inline-block;
                        padding: 0px 0px 0px 0px;
                        font-family: $font2;
                        position: relative;
                        text-transform: capitalize;


                        i {
                            font-size: 9px;

                        }

                        &:hover {
                            color: #222;
                        }
                    }
                }

                &:hover > .submenu {
                    opacity: 1;
                    visibility: visible;
                    top: 150%;
                }

                &:hover > a::before {
                    opacity: 1;
                    transform: scaleX(1);
                }

                &:first-child a {
                    padding-left: 0;
                }
            }
        }
    }

    &.sticky {
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        z-index: 999;
        transform: translateY(70px);
        transition: transform 500ms ease, background 500ms ease;
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
        background: #3CC78F;
        bottom: auto;
    }

}

.header-top_area {
    padding: 23px 0;

    /*
        @media #{$mobile_device} {
            padding: 10px 0;
        }
*/
    .social_media_links {
        text-align: right;
        a {
            font-size: 15px;
            color: #222222;
            margin-right: 12px;
        }
    }

    .short_contact_list {
        text-align: left;

        ul {
            li {
                display: inline-block;

                a {
                    font-size: 16px;
                    color: #222222;
                    margin-right: 40px;
                    font-family: $font2;
                    i {
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


.menu-item-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $grey;

    &:hover {
        color: $mainBlue;
    }
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &-item {}
}

.menu-content {
    display: none;

    @mixin largeScreen {
        display: block;
    }
}

.mobile-header-icon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 19px;
    /* background-color: $lightGrey; */
    top: 50px;
    right: 30px;

    @mixin largeScreen {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background: white;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }

    &-bar {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background: white;
        transform-origin: 0 50%;
        transition: all .3s ease-out;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background: white;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
    }

    &-close {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .mobile-header-icon-bar {
            transform: scaleX(0);
            opactiy: 0;
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
}

.mobile-menu {
    opacity: 0;
    display: none;

    &-active {
        opacity: 1;
        display: block;
    }

    &-list {
        list-style: none;
        padding: 0;

        &-item {
            border-top: solid 1px $lightGrey;
        }
    }

    @mixin largeScreen {
        display: none;
    }
}
