body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yeseva One", cursive;
    font-size: 13px;
    font-weight: 300;
    overflow-x: hidden !important;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.sample-text-area {
    background: $white;
    padding: 100px 0 70px 0;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

b,
sup,
sub,
u,
del {}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
}

.flex {
    display: flex;

}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

::-webkit-scrollbar {
    width: 15px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3CC78F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3CC78F;
}

/*----------------------------*\
	owl nav
\*----------------------------*/

.owl-theme .owl-nav [class*=owl-] {
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5c9320;
}

::selection {
    color: white;
    background: black;
}
