
.stats-cover .content-box{
    background: rgba(60, 199, 143, .06);
}
.stats-item{
    padding: 100px 0;
    text-align: center;
}
.stats-item i{
    color:#3CC78F;
}
.stats-item h2{
    color:#333;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}
.stats-item p{
    color:#333;
    text-transform: uppercase;
    margin-top:1px;
    font-weight: 300;
    font-size:16px;
}