.counter-section{
    margin-top: 80px;
    margin-bottom: 80px;
    background: rgba(60, 199, 143, .06);
    padding: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.number {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e6e6ea;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.number i {
  font-size: 43px;
  color: #3CC78F;
  margin-bottom: 15px;
}

.number h3 {
  font-size: 33px;
}

.number span {
  color:  #3CC78F;
  font-weight: 700;
}

.events :hover {
  border-color: #83ba09;
/*
    background-color: #3CC78F; 
    color: white;
*/
}
