#navbar {
    background: rgba(60, 199, 143, 0.95);
    background: transparent;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    transition: all .3s ease-in-out;
    .hamburger-menu {
        font-size: 18px;
        color: white;
        cursor: pointer;
        @mixin Samsung {
            display: block;
            position: absolute;
            top: 15px;
            right: 40px;
            padding: 5px;
        }
        @mixin largeScreen {
            display: none;
        }
    }
    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .logo {
            .logo-img {}
        }
        #navigation-bar {
            @mixin Samsung {
                display: none;
            }
            @mixin largeScreen {
                display: block;
            }
            .nav-list {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                align-self: center;
                
                .nav-items {
                    align-self: center;
                    &-links {
                        padding: 10px 30px;
                        color: white;
                        font-size: 18px;
                        
                    }
                }
            }
        }
        .nav-list-mobile {
            @mixin Samsung {
                display: none;
            }
            list-style: none;
            position: fixed;
            
            top: 90px;
            right: 25px;
            background:  rgba(60, 199, 143, 0.95);
            height: 190px;
            width: 150px;
            text-align: right;
           
            .nav-items-mobile {
                align-self: center;
                padding: 13px 20px;   
                a{
                   color: white;
                    font-size: 15px;
                    &:hover{
                        border-bottom: solid 2px #333;
                        padding: 3px;
                    }
                }
            }
        }
        .active{
            @mixin Samsung{
                display: block;
            }
            @mixin largeScreen{
                display: none;
            }
        }
    }
}