.news-area {
    background: #F3FCF8;
}

.news-active {
    display: block;
    width: 100%;
    @mixin largeScreen {
        display: flex;
    }
     @mixin mediumScreen {
        display: flex;
    }
     @mixin extraLargeScreen {
        display: flex;
    }
}

.news-area__single-blog {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
    height: 300px;
    margin-right: 0;
    margin-bottom: 80px;
    display: flex;

    
}

.news-area__single-blog__thum img {
    /*    width: 100%;*/
    width: 224px;
    height: 300px;

}

.news-area__single-blog__newsinfo {
    padding: 50px 40px;

   
}

.news-area__single-blog__newsinfo span {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    font-family: $font2;
}

.news-area__single-blog__newsinfo h3 {
    font-size: 20px;
    color: #222222;
    margin-top: 17px;
}

.news-area__single-blog__newsinfo p {
    font-size: 16px;
    line-height: 30px;
    color: #7A7B7C;
    margin-bottom: 42px;
    margin-top: 21px;
}
