.our-work {
    background: rgba(60, 199, 143, .06);
    padding-bottom: 30px;
    padding-top: 30px;

    &__para-1 {
        margin-bottom: 60px;
        margin-top: 30px;
        font-family: $font2;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.88;
        color: #5c5c5c;

        @mixin mediumScreen {
            position: relative;
            min-height: 2px;
        }

        @mixin extraLargeScreen {
            line-height: 2;
        }
    }

    &__about-video {
        border-radius: 10px;

        img {
            border-radius: 10px;

            @mixin Samsung {
                width: 380px;
                height: 410px;
            }
        }

        @mixin mediumScreen {
            position: relative;
            display: block;
            overflow: hidden;
            width: 100%;
            border-radius: 10px;
            margin-top: 10px;
        }

        @mixin largeScreen {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 10px;
        }

        @mixin extraLargeScreen {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 10px;
        }
    }

    &__play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background: #fff;
        opacity: 0.70;
        border-radius: 50%;
        font-size: 26px;
    }

    a {
        color: #000;

        &:hover {
            color: green;
        }
    }
}
